<div class="container p-3">
  <div class="input-group mb-3">
    <form>
    <input type="text" class="form-control mb-1" placeholder="Title.." aria-label="Title">
    <input type="text" class="form-control mb-3" placeholder="Body.." aria-label="Body">
    <button class="btn btn-primary" type="submit"S>Submit</button>
  </form>
  </div>

  <table class="table table-bordered text-center">
    <thead class="table-dark">
      <tr>
        <th scope="col">
          Id
        </th>
        <th scope="col">
          Title
        </th>
        <th scope="col">
          Body
        </th>
      </tr>

    </thead>
    
  </table>
</div>