<div class="container p-3">
  <div class="input-group mb-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="text" class="form-control mb-1" placeholder="Title.." aria-label="Title" formControlName="title" >
      <input type="text" class="form-control mb-3" placeholder="Body.." aria-label="Body" formControlName="body">
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>

  <table class="table table-bordered text-center">
    <thead class="table-dark">
      <tr>
        <th scope="col">
          Id
        </th>
        <th scope="col">
          Title
        </th>
        <th scope="col">
          Body
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of dataGeneral">
        <td>
          {{user.id}}
        </td>
        <td>
          {{user.title}}
        </td>
        <td>
          {{user.body}}
        </td>
      </tr>
    </tbody>
  </table>
</div>